<div class="flex absolute mt-5 z-20 bottom-0 bg-black bg-opacity-50 w-full p-2 justify-center">©&nbsp;jhkmnl&nbsp;•&#32;
    <a class="underline font-semibold" href="https://go.minortom.net/contact">Contact</a>&nbsp;•&#32;
    <a class="underline font-semibold" href="https://go.minortom.net/tos">Terms</a>&nbsp;•&#32;
    <a class="underline font-semibold" href="https://go.minortom.net/privacy">Privacy Policy</a>&nbsp;•&#32;
    <a class="underline font-semibold" href="https://go.minortom.net/imprint">Legal notice</a>&nbsp;•&#32;
</div>