<div class="flex absolute mt-5 z-20 bottom-0 bg-black bg-opacity-50 w-full p-2 justify-center">©&nbsp;<span class="font-semibold">jhkmnl</span>&#32;~&nbsp;
    <a class="underline" href="https://go.minortom.net/contact">Contact</a>&#32;•&nbsp;
    <a class="underline" href="https://go.minortom.net/tos">Terms</a>&#32;•&nbsp;
    <a class="underline" href="https://go.minortom.net/privacy">Privacy Policy</a>&#32;•&nbsp;
    <a class="underline" href="https://go.minortom.net/imprint">Legal notice</a>
</div>