<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta name="description" content="{{ site.tagline }}">
<meta content='#000000' name='theme-color'/>
<title>{{site.name}} | Links</title>
<link rel="shortcut icon" href="https://tree.jhkmnl.fi/assets/localhost/fav.webp" type="image/x-icon">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url}}">
